.game-info {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.opponent-info {
    /* margin-bottom: 0cm; */
    font-family: "Roboto", sans-serif;
    
}
.turn-info {
    font-family: "Roboto", sans-serif;
    margin-bottom: 4ch;
}

