:root {
  --color-1: #F2F2F2;
  --color-2: #364C59;
  --color-3: #CEE1F2;
  --color-4: #151E26;
  --color-5: #4E98D9;
  --font-h1-1: "Oswald", sans-serif;
  --font-h1-2: "Shadows Into Light", cursive;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: var(--color-3);
  display: flex;
}
ul {
  list-style-type: none;
}
a:active { color: var(--color-1);}
a:visited { color: var(--color-1);}
a:hover { color: var(--color-1); }
a {
  text-decoration: none;
  color: var(--color-4)
}
.nav-link-a {
  a {
    color: var(--color-4);
  }
}
button {
  color: var(--color-1);
  font-weight: 600;
  background-color: var(--color-5);
  padding: 6px;
  border-style: none;
  border-radius: 2px;
}
input {
  background-color: var(--color-3);
}
